<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit employee details</title>
    <link rel="stylesheet" href="{{url_for('static',filename='first.css')}}">
     <style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>
	</head>
<body>
	<h1>Update User Details</h1>
		<form action='' method='post'>
            <div style="overflow-x:auto;">
            <table class="center">
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name" value="{{datas.NAME}}" required></td></tr>
			   <tr><td>Address:</td>
                   <td><input type="text" name="address" value="{{datas.ADDRESS}}" required></td></tr>
                <tr><td> Gender:</td>
                    <td><input type="text" name="gender" value="{{datas.GENDER}}" required></td></tr>
                <tr>
                    <td>Join Date:</td>
                    <td><input type="date" name="joindate" value="{{datas.JOINEDDATE}}" required></td></tr>
                </tr>
                <tr>
                    <td>Created Time:</td>
                    <td><input type="datetime-local" name="createdtime" value="{{datas.CREATEDTIME}}" required></td></tr>
                </tr>
                <tr>
                    <td>Updated Time:</td>
                    <td><input type="datetime-local" name="updatedtime" value="{{datas.UPDATEDTIME}}" required></td></tr>
                </tr>
            </table><br>
			  <input type='submit' value='Update Details'>
            </div>
        </form>
</body>
</html>