<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Application </title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>

 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <div class="jumbotron">
      <h1><center>ROOSTER TECH</center></h1></div>
<div class="container">
    <div class="row">
        <div class="col md-30">
            <nav class="navbar navbar-light bg-dark"></nav>
            <h2>Employee List <button type="button" class="btn btn-dark" ><a href="/">Report page1</a></button> <button type="button" class="btn btn-dark"><a href="/">Report page2</a></button> <button type="button" class="btn btn-dark"><a href="{{url_for('Add_emp')}}">Add emp data</a></button></h2>
    <form action="" method="post">
        <div style="overflow-x:auto;">
    <table class="center">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>ADDRESS</th>
            <th>GENDER</th>
            <th>JOINED DATE</th>
            <th>CREATED TIME</th>
            <th>UPDATED TIME</th>
            <th>EDIT</th>
            <th>DELETE</th>
            <th>SALARY DETAIL</th>
        </tr>
        {% for data in datas %}
				<tr>
					<td>{{data.0}}</td>
					<td>{{data.1}}</td>
					<td>{{data.2}}</td>
					<td>{{data.3}}</td>
					<td>{{data.4}}</td>
                    <td>{{data.5}}</td>
                    <td>{{data.6}}</td>

                   <td><a href ="{{url_for('edit',id=data.0)}}"><i class="fas fa-edit"></i>Edit</a></td>
                    <td><a onclick="return confirm('Are you sure to delete?');" href="{{url_for('delete',id=data.0)}}"><i class="fas fa-eraser"></i>Delete</a></td>
                    <td><a href ="{{url_for('salarybutton',id=data.0)}}">salary detail</a></td>
          {% endfor %}


</table></div>
</form>
        </div></div></div>
</body>
</html>