<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit salary details</title>
    <style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>
	</head>
<body>
	<h1>Update employee salary Details</h1>
		<form action='' method='post'>
            <div style="overflow-x:auto;">
            <table class="center">
                <tr>
                    <td>Id</td>
                    <td><input type="text" name="id" value="{{datas.ID}}" required></td></tr>
			   <tr><td>Employee_id</td>
                   <td><input type="text" name="emp_id" value="{{datas.EMPLOYEEID}}" required></td></tr>
                <tr><td> Month:</td>
                    <td><input type="month" name="month" value="{{datas.MONTH}}" required></td></tr>
                <tr>
                     <tr><td> Salary:</td>
                    <td><input type="text" name="salary" value="{{datas.SALARY}}" required></td></tr>
                <tr>
                    <td>Created Time:</td>
                    <td><input type="datetime-local" name="createdtime" value="{{datas.CREATEDTIME}}" required></td></tr>
                </tr>
                <tr>
                    <td>Updated Time:</td>
                    <td><input type="datetime-local" name="updatedtime" value="{{datas.UPDATEDTIME}}" required></td></tr>
                </tr>
            </table><br>
			  <input type='submit' value='Update Details'>
            </div>
        </form>
</body>
</html>